#header-sm img{display:none;}
.pc-sm-menu{display:none;}


#content{
  font-family: 'Kosugi Maru', sans-serif;
  color:#493309;}

body{margin:0; padding:0;}


   .pc-menu ul{
     display: flex;
     justify-content:space-around;
     list-style: none;
     padding: 0;
     margin: 0;
     margin-top: -26vw;}

     .footer-nav ul{
       display: flex;
       justify-content:flex-end;
       list-style: none;
       margin-right: 25px;
       margin-top: -6vh;
       margin-bottom:-1vh;}

     .footer-nav a {
         font-size: 1.6vw;
         font-weight: bold;
         color:#493309;
         text-decoration: none;
         display: inline;
         margin-right: 10px;}

         .footer img{
           margin-top: 1vh;
            width: 100%;}

        .footer-copyright{
            background-color:#493309; }

         .footer-copyright P{
           font-family: 'Crete Round', serif;
           color:white;
           padding: 13px 0px;
           margin-top: -60px;
           font-size:2.5vw;
           margin-bottom:-35px;}
